body {
    font-family: 'Roboto', sans-serif;
    margin: 0;padding: 0;
    background-color: black;
    
    color: white;
}

header, footer {
    background-color: rgb(100, 68, 25);
    max-width: 640px;
    margin: 1rem auto;
    border: 0.5px solid gray;
    text-align: center;
    color: silver;
}

main {
    display: grid;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 640px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1rem;
    grid-template-columns: 1fr;
}


section {
    padding: 1rem;
    background-color: aliceblue;
    color: black;
}